.span3
  .well
    %ul.nav.nav-list
      %li.nav-header Features
      - @label_stories.each_with_index do |member, i|
        %li{ class: i == 0 ? 'active' : ''}
          %a{ href: "##{member[0]}", data: { toggle: 'tab' } }
            = member[0]
            = "(#{member[1].count})"

.span9
  .tab-content
    - @label_stories.each_with_index do |member, i|
      %div.tab-pane{ id: "#{member[0].gsub(' ', '')}", class: i == 0 ? 'active' : '' }
        %table.table.table-striped
          %thead
            %th Estimate
            %th Current State
            %th Owner
            %th Title

          %tbody
            - member[1].each do |story|
              %tr
                %td= story.last.estimate
                %td= story.last.current_state
                %td= story.last.owned_by
                %td= friendly_title story.last